---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark-scrollbars-compat">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/fonts/faces.css" rel="stylesheet" />
    <style is:global>
      html {
        scrollbar-width: thin;
        scrollbar-color: rgb(156, 163, 175) rgb(249, 250, 251);
      }

      body::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      body::-webkit-scrollbar-track {
        @apply bg-gray-50;
      }

      body::-webkit-scrollbar-thumb {
        @apply bg-gray-400 rounded;
      }

      body::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
      }

      .dark-scrollbars-compat {
        scrollbar-color: rgb(71, 85, 105) rgb(30, 41, 59);
      }

      .dark-scrollbars::-webkit-scrollbar-track {
        @apply bg-gray-800;
      }

      .dark-scrollbars::-webkit-scrollbar-thumb {
        @apply bg-gray-600;
      }

      .dark-scrollbars::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
      }
    </style>
    <title>WireGuard | {title}</title>
  </head>
  <body
    class="dark font-cantarell bg-gray-800 text-gray-100 dark-scrollbars min-h-screen antialiased"
  >
    <slot />
  </body>
</html>
