---
import Dashboard from "../layouts/Dashboard.astro";
---

<Dashboard title="Clients">
  <main class="lg:w-11/12 xl:w-5/6 m-auto">
    <section class="pt-6 mb-6 flex items-center justify-between">
      <div class="flex items-center justify-start">
        <span class="inline-flex justify-center items-center w-6 h-6 mr-2">
          <svg viewBox="0 0 24 24" width="20" height="20" class="inline-block">
            <path
              fill="currentColor"
              d="M16 17V19H2V17S2 13 9 13 16 17 16 17M12.5 7.5A3.5 3.5 0 1 0 9 11A3.5 3.5 0 0 0 12.5 7.5M15.94 13A5.32 5.32 0 0 1 18 17V19H22V17S22 13.37 15.94 13M15 4A3.39 3.39 0 0 0 13.07 4.59A5 5 0 0 1 13.07 10.41A3.39 3.39 0 0 0 15 11A3.5 3.5 0 0 0 15 4Z"
            ></path>
          </svg>
        </span>
        <h1 class="leading-tight text-2xl">Clients</h1>
      </div>
      <button
        role="button"
        type="button"
        class="ring-gray-500 bg-gray-700 text-white hover:bg-gray-600 p-2 px-3 inline-flex justify-center items-center focus:outline-none transition-all duration-200 focus:ring-1 hover:ring-1 cursor-pointer rounded-lg"
        type="button"
      >
        <span>+</span>
        <div class="ml-3 xs:block">Create New</div>
      </button>
    </section>
    <div class="flex rounded-xl flex-col bg-gray-900/70">
      <div class="flex-1">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Company</th>
              <th>City</th>
              <th>Progress</th>
              <th>Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-b-0 lg:w-6 before:hidden">
                <div class="w-24 h-24 mx-auto lg:w-6 lg:h-6">
                  <img
                    src="https://avatars.dicebear.com/api/avataaars/Howell-Hand.svg"
                    alt="Howell Hand"
                    class="rounded-full block h-auto w-full max-w-full bg-gray-800"
                  />
                </div>
              </td>
              <td>Howell Hand</td>
              <td>Kiehn-Green</td>
              <td>Emelyside</td>
              <td class="lg:w-32">
                <progress
                  class="flex w-2/5 self-center lg:w-full"
                  max="100"
                  value="70">70</progress
                >
              </td>
              <td data-label="Created" class="lg:w-1 whitespace-nowrap">
                <small class="text-gray-400">Mar 3, 2022</small>
              </td>
              <td class="before:hidden lg:w-1 whitespace-nowrap">
                <div
                  class="flex items-center justify-start lg:justify-end -mb-3 flex-nowrap"
                >
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-blue-500 ring-blue-700 bg-blue-500 hover:bg-blue-600 hover:border-blue-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-red-500 ring-red-700 bg-red-500 hover:bg-red-600 hover:border-red-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border-b-0 lg:w-6 before:hidden">
                <div class="w-24 h-24 mx-auto lg:w-6 lg:h-6">
                  <img
                    src="https://avatars.dicebear.com/api/avataaars/Hope-Howe.svg"
                    alt="Hope Howe"
                    class="rounded-full block h-auto w-full max-w-full bg-gray-800"
                  />
                </div>
              </td>
              <td data-label="Name">Hope Howe</td>
              <td data-label="Company">Nolan Inc</td>
              <td data-label="City">Paristown</td>
              <td data-label="Progress" class="lg:w-32">
                <progress
                  class="flex w-2/5 self-center lg:w-full"
                  max="100"
                  value="68">68</progress
                >
              </td>
              <td data-label="Created" class="lg:w-1 whitespace-nowrap">
                <small class="text-gray-400">Dec 1, 2022</small>
              </td>
              <td class="before:hidden lg:w-1 whitespace-nowrap">
                <div
                  class="flex items-center justify-start lg:justify-end -mb-3 flex-nowrap"
                >
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-blue-500 ring-blue-700 bg-blue-500 hover:bg-blue-600 hover:border-blue-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-red-500 ring-red-700 bg-red-500 hover:bg-red-600 hover:border-red-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border-b-0 lg:w-6 before:hidden">
                <div class="w-24 h-24 mx-auto lg:w-6 lg:h-6">
                  <img
                    src="https://avatars.dicebear.com/api/avataaars/Nelson-Jerde.svg"
                    alt="Nelson Jerde"
                    class="rounded-full block h-auto w-full max-w-full bg-gray-800"
                  />
                </div>
              </td>
              <td data-label="Name">Nelson Jerde</td>
              <td data-label="Company">Nitzsche LLC</td>
              <td data-label="City">Jailynbury</td>
              <td data-label="Progress" class="lg:w-32">
                <progress
                  class="flex w-2/5 self-center lg:w-full"
                  max="100"
                  value="49">49</progress
                >
              </td>
              <td data-label="Created" class="lg:w-1 whitespace-nowrap">
                <small class="text-gray-400">May 18, 2022</small>
              </td>
              <td class="before:hidden lg:w-1 whitespace-nowrap">
                <div
                  class="flex items-center justify-start lg:justify-end -mb-3 flex-nowrap"
                >
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-blue-500 ring-blue-700 bg-blue-500 hover:bg-blue-600 hover:border-blue-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-red-500 ring-red-700 bg-red-500 hover:bg-red-600 hover:border-red-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border-b-0 lg:w-6 before:hidden">
                <div class="w-24 h-24 mx-auto lg:w-6 lg:h-6">
                  <img
                    src="https://avatars.dicebear.com/api/avataaars/Kim-Weimann.svg"
                    alt="Kim Weimann"
                    class="rounded-full block h-auto w-full max-w-full bg-gray-800"
                  />
                </div>
              </td>
              <td data-label="Name">Kim Weimann</td>
              <td data-label="Company">Brown-Lueilwitz</td>
              <td data-label="City">New Emie</td>
              <td data-label="Progress" class="lg:w-32">
                <progress
                  class="flex w-2/5 self-center lg:w-full"
                  max="100"
                  value="38">38</progress
                >
              </td>
              <td data-label="Created" class="lg:w-1 whitespace-nowrap">
                <small class="text-gray-400">May 4, 2022</small>
              </td>
              <td class="before:hidden lg:w-1 whitespace-nowrap">
                <div
                  class="flex items-center justify-start lg:justify-end -mb-3 flex-nowrap"
                >
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-blue-500 ring-blue-700 bg-blue-500 hover:bg-blue-600 hover:border-blue-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-red-500 ring-red-700 bg-red-500 hover:bg-red-600 hover:border-red-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border-b-0 lg:w-6 before:hidden">
                <div class="w-24 h-24 mx-auto lg:w-6 lg:h-6">
                  <img
                    src="https://avatars.dicebear.com/api/avataaars/Justice-O'Reilly.svg"
                    alt="Justice O'Reilly"
                    class="rounded-full block h-auto w-full max-w-full bg-gray-800"
                  />
                </div>
              </td>
              <td data-label="Name">Justice O'Reilly</td>
              <td data-label="Company">Lakin-Muller</td>
              <td data-label="City">New Kacie</td>
              <td data-label="Progress" class="lg:w-32">
                <progress
                  class="flex w-2/5 self-center lg:w-full"
                  max="100"
                  value="38">38</progress
                >
              </td>
              <td data-label="Created" class="lg:w-1 whitespace-nowrap">
                <small class="text-gray-500">Mar 27, 2022</small>
              </td>
              <td class="before:hidden lg:w-1 whitespace-nowrap">
                <div
                  class="flex items-center justify-start lg:justify-end -mb-3 flex-nowrap"
                >
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-blue-500 ring-blue-700 bg-blue-500 hover:bg-blue-600 hover:border-blue-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                  <button
                    class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-red-500 ring-red-700 bg-red-500 hover:bg-red-600 hover:border-red-600 mr-3 last:mr-0 mb-3 p-1"
                    type="button"
                  >
                    <span
                      class="inline-flex justify-center items-center w-6 h-6"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        class="inline-block"
                      >
                        <path
                          fill="currentColor"
                          d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="p-3 lg:px-6 border-t border-gray-800">
          <div
            class="flex flex-col md:flex-row items-center justify-between py-3 md:py-0"
          >
            <div class="flex items-center justify-start -mb-3 flex-wrap">
              <button
                class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-gray-800 ring-gray-500 bg-gray-700 hover:bg-gray-700 mr-3 last:mr-0 mb-3 text-sm p-1"
                type="button"
              >
                <span class="px-2">1</span>
              </button>
              <button
                class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-gray-900 ring-gray-500 bg-gray-900 text-white hover:bg-gray-800 mr-3 last:mr-0 mb-3 text-sm p-1"
                type="button"
              >
                <span class="px-2">2</span>
              </button>
              <button
                class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-gray-900 ring-gray-500 bg-gray-900 text-white hover:bg-gray-800 mr-3 last:mr-0 mb-3 text-sm p-1"
                type="button"
              >
                <span class="px-2">3</span>
              </button>
              <button
                class="inline-flex justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border cursor-pointer rounded border-gray-900 ring-gray-500 bg-gray-900 text-white hover:bg-gray-800 mr-3 last:mr-0 mb-3 text-sm p-1"
                type="button"
              >
                <span class="px-2">4</span>
              </button>
            </div>
            <small class="mt-6 md:mt-0">Page 1 of 4</small>
          </div>
        </div>
      </div>
    </div>
  </main>
</Dashboard>
