---
import LoginLayout from "../layouts/LoginLayout.astro";
import Login from "../components/forms/login.svelte";
---

<LoginLayout>
  <div
    class="flex min-h-screen items-center justify-center text-gray-100"
  >
    <div
      class="flex w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4 shadow-2xl rounded-2xl flex-col border border-[#191e3a]"
    >
      <div class="flex-1 p-6">
        <Login client:load />
      </div>
    </div>
  </div>
</LoginLayout>
