---
import Layout from "../layouts/Layout.astro";
import Login from "../components/forms/login.svelte";
---

<Layout title="Login">
  <div class="dark">
    <div class="bg-gray-50 dark:bg-gray-800 dark:text-gray-100">
      <div class="flex min-h-screen items-center justify-center bg-gray-800">
        <div
          class="bg-white flex w-11/12 md:w-7/12 lg:w-6/12 xl:w-4/12 shadow-2xl rounded-2xl flex-col dark:bg-gray-900/70"
        >
          <div class="flex-1 p-6">
            <Login client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
